	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Hexbyte | <%= title %></title>
		<meta name="description" content="A simple default HTML page.">
    <link rel="stylesheet" href="/css/output.css">
  </head>



