<nav class="flex bg-stone-800 text-gray-200 justify-between">
      <div class="m-5">
        <a class="text-6xl" href='/'>HXB8</a>
        <div class="flex items-center"> 
          <p>I use </p>
          <img width='100' src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/archlinux/archlinux-plain-wordmark.svg" />          
          <p>BTW</p> 
        </div> 
      </div>
      <ul class="flex items-center m-5">
        <li class="px-4 py-2"><a href='/about'>About</a></li>
        <li class="px-4 py-2"><a href='/'>Blogs</a></li>
        <li class="px-4 py-2 bg-red-900 rounded-lg"><a href='/blogs/create'>Create a New Blog</a></li>
      </ul>
      
</nav>


