<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Hexbyte</title>
		<meta name="description" content="A simple default HTML page.">
	</head>
	<body>
    <nav>
      <div class="site-title">
        <a href='/'>Hexbyte</a>
        <p>I use arch BTW</p>
      </div>
      <ul>
        <li><a href='/about'>About</a></li>
        <li><a href='/blogs'>Blogs</a></li>
        <li><a href='/blogs/create'>Create a New Blog</a></li>
      </ul>
      </nav>

      
      <div>
        <form>
          <label for="title">Blog title:</label>
          <input id="title" type="text" required>
          <label for="snippet">Blog snippet:</label>
          <input id="snippet" type="text" required>
          <label for="body">Blog body:</label>
          <textarea id="body" required></textarea>
          <submit>Submit</submit>
        </form>
      </div>

  </body>
</html>
